<style>
    @page {
        size: A4;
        margin: 10mm;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .border td,
    .border th {
        border: 1px solid #000;
        vertical-align: top;
        /* line-height: 2; */
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .small {
        font-size: 9px;
    }

    .header td {
        border: none;
    }

    .items th {
        background: #f4f4f4;
    }

    .signature {
        height: 70px;
    }

    .page-break {
        page-break-after: always;
    }

    .ql-editor {
        padding: 0 !important;
        margin: 0 !important;
        min-height: auto !important;
        height: auto !important;
        overflow: visible !important;
        line-height: 1 !important;
    }

    .ql-editor p {
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.4 !important;
    }

    .letter-head {
        margin: 0 !important;
        padding: 0 !important;
    }


    .items {
        page-break-inside: auto;
    }

    .items tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    .items td {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    .items {
        border-collapse: collapse;
    }
</style>


{%- macro add_header(letter_head, no_letterhead) -%}
{% if letter_head and not no_letterhead %}
<div class="letter-head" style="margin: 0 !important;">
    {{ letter_head }}
</div>
{% endif %}
{%- endmacro -%}

<div {% if print_settings and print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf"
    style="margin: 0 !important;" {% endif %}>
    {{ add_header(letter_head, no_letterhead) }}
</div>


<!--  BUYER + TERMS  -->

<table class="border">

    <tr style="padding:0;">

        <td width="50%" style="padding:0;">

            <b>Buyer</b><br>

            {{ doc.customer_name }}<br>

            {% if doc.customer_address %}
            {% set customer_address = frappe.get_doc("Address", doc.customer_address) %}

            {{ customer_address.address_line1 }}<br>

            {% if customer_address.address_line2 %}
            {{ customer_address.address_line2 }}<br>
            {% endif %}

            {{ customer_address.city }}
            {{ customer_address.pincode }}<br>

            State Code :
            {{ customer_address.gst_state_number }}<br>
            Phone: {{ customer_address.phone }}<br>

            {% endif %}


            {% if doc.billing_address_gstin %}
            GST: {{ doc.billing_address_gstin }}
            {% endif %}

        </td>

        <td width="50%">
            <div>Buyer's Purchase Enquiry No:
                <span>
                    {{ doc.custom_purchase_enquiry_no or "" }}
                </span>
            </div>

            <div style="margin-top:4px;">Enquiry Date:

                <span>

                    {{ frappe.utils.formatdate(doc.custom_purchase_enquiry_date) if doc.custom_purchase_enquiry_date
                    else "" }}
                </span>
            </div>


            <div style="border-top:1px solid #000; margin-top:4px; padding-top:2px;">
                <b>{{ doc.tc_name }}</b>
            </div>

            <div style="line-height:2;">
                {{ doc.terms }}
            </div>
        </td>

    </tr>

</table>

<!--  ITEMS  -->

{% set hsn_codes = [] %}
{% for item in doc.items %}
{% if item.gst_hsn_code and item.gst_hsn_code not in hsn_codes %}
{% set _ = hsn_codes.append(item.gst_hsn_code) %}
{% endif %}
{% endfor %}

<table class="border items">

    <thead>
        <tr>
            <th width="1%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                S.No.
            </th>

            <th width="43%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                <b>Description</b>
                {% if hsn_codes %}
                <br>
                <small>HSN: {{ hsn_codes | join(", ") }}</small>
                {% endif %}
            </th>

            <th width="12%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                <b>Delivery</b>
            </th>

            <th width="10%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                <b>Unit</b>
            </th>

            <th width="8%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                <b>Qty.</b>
            </th>

            <th width="13%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                <b>Price / Each<br>Rs.</b>
            </th>

            <th width="15%" style="text-align:center; color:#000; background-color:#d9eaf2;">
                <b>Amount</b>
            </th>
        </tr>
    </thead>

    <tbody>

        {% for item in doc.items %}

        <tr>

            <td class="center">
                {{ loop.index }}
            </td>

            <td>
                <div>
                    {{ item.item_name }}
                </div>

                <small>
                    {% if item.item_code and item.item_code != item.item_name %}
                    <div>Part No: {{ item.item_code }}</div>
                    {% endif %}

                    {% if item.description %}
                    <div>{{ item.description }}</div>
                    {% endif %}
                </small>
            </td>

            <td class="center" style="white-space: nowrap;">
                {{ item.custom_delivery_date_range or "-" }}
            </td>

            <td class="center">
                {{ item.uom }}
            </td>

            <td class="center">
                {{ "{:g}".format(item.qty) }}
            </td>

            <td class="right">
                {{ frappe.utils.fmt_money(item.rate) }}
            </td>

            <td class="right">
                {{ frappe.utils.fmt_money(item.amount) }}
            </td>

        </tr>

        {% endfor %}
    </tbody>

    <tbody class="totals">

        <!-- Total Qty + Sub Total -->
        <tr>
            <td colspan="4" class="right bold">
                Total
            </td>

            <td class="center bold">
                {{ "{:g}".format(doc.total_qty) }}
            </td>

            <td><b>Sub Total</b></td>

            <td class="right bold" style="white-space: nowrap;">
                {{ frappe.utils.fmt_money(doc.net_total, currency=doc.currency) }}
            </td>
        </tr>

        {% set ns = namespace(
        total_before_tax=doc.net_total,
        before_tax=[],
        gst=[]
        ) %}

        {% if doc.taxes %}
        {% for tax in doc.taxes %}
        {% set account = frappe.get_cached_doc("Account", tax.account_head) %}

        {% if account.account_type == "Tax" %}
        {% set _ = ns.gst.append(tax) %}
        {% else %}
        {% set _ = ns.before_tax.append(tax) %}
        {% set ns.total_before_tax = tax.total %}
        {% endif %}
        {% endfor %}
        {% endif %}

        <!-- Charges Before Tax -->
        {% for tax in ns.before_tax %}
        <tr>
            <td colspan="6" class="right">
                Add: {{ tax.description or tax.account_head }}
                {% if tax.rate %}
                ({{ "{:g}".format(tax.rate) }}%)
                {% endif %}
            </td>

            <td class="right" style="white-space: nowrap;">
                {{ frappe.utils.fmt_money(tax.tax_amount, currency=doc.currency) }}
            </td>
        </tr>
        {% endfor %}

        <!-- Total Before Tax -->
        <tr>
            <td colspan="6" class="right">
                <b>Total Before Tax</b>
            </td>

            <td class="right bold" style="white-space: nowrap;">
                {{ frappe.utils.fmt_money(ns.total_before_tax, currency=doc.currency) }}
            </td>
        </tr>

        <!-- GST / Tax Accounts -->
        {% for tax in ns.gst %}
        <tr>
            <td colspan="6" class="right">
                Add: {{ tax.description or tax.account_head }}
                {% if tax.rate %}
                ({{ "{:g}".format(tax.rate) }}%)
                {% endif %}
            </td>

            <td class="right" style="white-space: nowrap;">
                {{ frappe.utils.fmt_money(tax.tax_amount, currency=doc.currency) }}
            </td>
        </tr>
        {% endfor %}

        <!-- Discount -->
        {% if doc.discount_amount %}
        <tr>
            <td colspan="6" class="right">
                Discount
                {% if doc.additional_discount_percentage %}
                ({{ doc.additional_discount_percentage }}%)
                {% endif %}
            </td>

            <td class="right">
                -{{ frappe.utils.fmt_money(doc.discount_amount, currency=doc.currency) }}
            </td>
        </tr>
        {% endif %}

        <!-- Total After Tax -->
        <tr>
            <td colspan="6" class="right">
                <b>Total After Tax</b>
            </td>

            <td class="right bold" style="white-space: nowrap;">
                {{ frappe.utils.fmt_money(doc.grand_total, currency=doc.currency) }}
            </td>
        </tr>


        <tr>
            <td colspan="7" style="padding:8px;">
                <b>Amount in Words in Rs. :</b>
                {{ doc.in_words }}
            </td>
        </tr>
    </tbody>

</table>


<!-- Footer -->
<div id="footer-html" class="visible-pdf">
    {% if footer and not no_letterhead %}
    {{ footer }}
    {% endif %}
</div>