<style>
    @page {
        size: A4;
        margin: 10mm;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .border td,
    .border th {
        border: 1px solid #000;
        vertical-align: top;
        /* line-height: 2; */
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .small {
        font-size: 9px;
    }

    .header td {
        border: none;
    }

    .items th {
        background: #f4f4f4;
    }

    .signature {
        height: 70px;
    }

    .page-break {
        page-break-after: always;
    }

    .ql-editor {
        padding: 0 !important;
        margin: 0 !important;
        min-height: auto !important;
        height: auto !important;
        overflow: visible !important;
        line-height: 1 !important;
    }

    .ql-editor p {
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.4 !important;
    }

    .letter-head {
        margin: 0 !important;
        padding: 0 !important;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
</style>


{%- macro add_header(letter_head, no_letterhead) -%}
{% if letter_head and not no_letterhead %}
<div class="letter-head" style="margin: 0 !important;">
    {{ letter_head }}
</div>
{% endif %}
{%- endmacro -%}

<div {% if print_settings and print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf"
    style="margin: 0 !important;" {% endif %}>
    {{ add_header(letter_head, no_letterhead) }}
</div>


<!--  BUYER + TERMS  -->

<table class="border">

    <tr style="padding:0;">

        <td width="50%" style="padding:0;">

            <b>Buyer</b><br>

            {{ doc.customer_name }}<br>

            {% if doc.customer_address %}
            {% set customer_address = frappe.get_doc("Address", doc.customer_address) %}

            {{ customer_address.address_line1 }}<br>

            {% if customer_address.address_line2 %}
            {{ customer_address.address_line2 }}<br>
            {% endif %}

            {{ customer_address.city }}
            {{ customer_address.pincode }}<br>

            State Code :
            {{ customer_address.gst_state_number }}<br>
            Phone: {{ customer_address.phone }}<br>

            {% endif %}


            {% if doc.billing_address_gstin %}
            GST: {{ doc.billing_address_gstin }}
            {% endif %}

        </td>

        <td width="50%">
            <div>Buyer's Purchase Enquiry No:
                <span>
                    {{ doc.custom_purchase_enquiry_no or "" }}
                </span>
            </div>

            <div style="margin-top:4px;">Enquiry Date:

                <span>

                    {{ frappe.utils.formatdate(doc.custom_purchase_enquiry_date) if doc.custom_purchase_enquiry_date
                    else "" }}
                </span>
            </div>


            <div style="border-top:1px solid #000; margin-top:4px; padding-top:2px;">
                <b>{{ doc.tc_name }}</b>
            </div>

            <div style="line-height:2;">
                {{ doc.terms }}
            </div>
        </td>

    </tr>

</table>

<!--  ITEMS  -->

<table class="border items">

    <thead>

        <tr>
            <th width="1%" style="text-align:center; color:#000; background-color: #ffff99;">S.No.</th>

            <th width="43%" style="text-align:center; color:#000; background-color: #ffff99;">
                <b>Description</b>
            </th>

            <th width="12%" style="text-align:center; color:#000; background-color: #ffff99;">
                <b>Delivery</b>
            </th>

            <th width="10%" style="text-align:center; color:#000; background-color: #ffff99;">
                <b>Unit</b>
            </th>

            <th width="8%" style="text-align:center; color:#000; background-color: #ffff99;">
                <b>Qty</b>
            </th>

            <th width="13%" style="text-align:center; color:#000; background-color: #ffff99;">
                <b>Price</b>
            </th>

            <th width="15%" style="text-align:center; color:#000; background-color: #ffff99;">
                <b>Amount</b>
            </th>
        </tr>
    </thead>

    <tbody>

        {% for item in doc.items %}

        <tr>

            <td class="center">
                {{ loop.index }}
            </td>

            <td>

                <div>
                    {{ item.item_name }}


                </div>
                <small>

                    {% if item.gst_hsn_code %}
                    HSN : {{ item.gst_hsn_code }}
                    {% endif %}
                </small>

            </td>

            <td class="center" style="white-space: nowrap;">
                {{ item.custom_delivery_date_range or "-" }}
            </td>

            <td class="center">
                {{ item.uom }}
            </td>

            <td class="center">
                {{ "{:g}".format(item.qty) }}
            </td>

            <td class="right">
                {{ frappe.utils.fmt_money(item.rate) }}
            </td>

            <td class="right">
                {{ frappe.utils.fmt_money(item.amount) }}
            </td>

        </tr>

        {% endfor %}
    </tbody>

    <tr>
        <td colspan="7"></td>
    </tr>

    <!-- Sub Total and total qty -->
    <tr>

        <td colspan="4" class="right bold">
            Total
        </td>

        <td class="center bold">

            {{ "{:g}".format(doc.total_qty) }}

        </td>

        <td> <b>Sub Total</b> </td>

        <td class="right bold" style="white-space: nowrap;">

            {{ frappe.utils.fmt_money(doc.net_total, currency=doc.currency)}}
        </td>

    </tr>

    <!-- Taxes -->
    {% if doc.taxes %}

    {% for tax in doc.taxes %}
    <tr>
        <td colspan="6" class="right">
            {{ tax.description or tax.account_head }}
            ({{ "{:g}".format(tax.rate) }}%)</td>
        <td class="right" style="white-space: nowrap;">
            {{ frappe.utils.fmt_money(tax.tax_amount, currency=doc.currency) }}
        </td>
    </tr>
    {% endfor %}

    {% endif %}

    <!-- Discount -->
    {% if doc.discount_amount %}
    <tr>
        <td colspan="6" class="right">
            Discount
            {% if doc.additional_discount_percentage %}
            ({{ doc.additional_discount_percentage }}%)
            {% endif %}
        </td>
        <td class="right">
            -{{ frappe.utils.fmt_money(doc.discount_amount, currency=doc.currency) }}
        </td>
    </tr>
    {% endif %}

    <!-- Grand total -->
    <tr>
        <td colspan="6" class="right">
            <b>Grand Total</b>
            <br>
            <span style="font-size: 10px; font-weight: normal;">
                {{ doc.in_words }}
            </span>
        </td>
        <td class="right">
            <b>{{ frappe.utils.fmt_money(doc.grand_total, currency=doc.currency) }}</b>
        </td>
    </tr>

</table>


<!-- Footer -->
<div id="footer-html" class="visible-pdf">
    {% if footer and not no_letterhead %}
    {{ footer }}
    {% endif %}
</div>