<style>
    @page {
        size: A4;
        margin: 10mm;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .border td,
    .border th {
        border: 1px solid #000;
        vertical-align: top;
        line-height: 1.05;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .small {
        font-size: 9px;
    }

    .header td {
        border: none;
    }

    .items th {
        background: #f4f4f4;
    }

    .signature {
        height: 70px;
    }

    .page-break {
        page-break-after: always;
    }

    .ql-editor {
        padding: 0 !important;
        margin: 0 !important;
        min-height: auto !important;
        height: auto !important;
        overflow: visible !important;
        line-height: 1 !important;
    }

    .ql-editor p {
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1 !important;
    }
</style>

<!--  HEADER  -->
{% set company = frappe.get_doc("Company", doc.company) %}

{% set address_links = frappe.get_all(
"Dynamic Link",
filters={
"link_doctype": "Company",
"link_name": company.name,
"parenttype": "Address"
},
fields=["parent"],
limit=1
) %}

{% if address_links %}
{% set addr = frappe.get_doc("Address", address_links[0].parent) %}
{% endif %}



{% set contact_links = frappe.get_all(
"Dynamic Link",
filters={
"link_doctype": "Company",
"link_name": company.name,
"parenttype": "Contact"
},
fields=["parent"]
) %}

{% set phones = [] %}
{% set emails = [] %}

{% for link in contact_links %}
{% set contact = frappe.get_doc("Contact", link.parent) %}

{% if contact.phone %}
{% if phones.append(contact.phone) %}{% endif %}
{% endif %}

{% if contact.mobile_no %}
{% if phones.append(contact.mobile_no) %}{% endif %}
{% endif %}

{% if contact.email_id %}
{% if emails.append(contact.email_id) %}{% endif %}
{% endif %}
{% endfor %}
{% if not phones and company.phone_no %}
{% if phones.append(company.phone_no) %}{% endif %}
{% endif %}

{% if not emails and company.email %}
{% if emails.append(company.email) %}{% endif %}
{% endif %}


<table class="border">
    <tr>
        <td style="padding:0;">
            {% if company.company_logo %}
            <img src="{{ company.company_logo }}" style="width:100%; height:100px;">
            {% endif %}


            {% if company.registration_details %}
            <div class="center">{{ company.registration_details }}</div>
            {% endif %}

            <div class="center" style="line-height:1.0;">

                {% if addr %}
                <div style="margin:0;">
                    {{ addr.address_line1 }},
                    {% if addr.address_line2 %}
                    {{ addr.address_line2 }},
                    {% endif %}
                    {{ addr.state }}, {{ addr.pincode }}
                </div>
                {% endif %}

                {% if phones %}
                <div style="margin:0;">
                    Phone: {{ phones | unique | join(", ") }}
                </div>
                {% endif %}

                {% if emails %}
                <div style="margin:0;">
                    Email: {{ emails | unique | join(", ") }}
                </div>
                {% endif %}

                {% if company.website %}
                <div style="margin:0;">
                    W: {{ company.website }}
                </div>
                {% endif %}

                {% if company.gstin %}
                <div style="margin:0;">
                    GSTIN: {{ company.gstin }}
                </div>
                {% endif %}


            </div>

        </td>
    </tr>
    <td>


        <h3 class="center" style="margin: 0;">
            QUOTATION CUM PERFORMA INVOICE
        </h3>

        <div class="center padding:0" style="line-height:1.0;">
            <b>No.</b> {{ doc.name }}
            &nbsp;&nbsp;&nbsp;
            <b>Dated :</b>
            {{ frappe.utils.formatdate(doc.transaction_date) }}
        </div>
    </td>
    <tr>

    </tr>
</table>

<!--  BUYER + TERMS  -->

<table class="border">

    <tr style="padding:0;">

        <td width="50%" style="padding:0;">

            <b>Buyer</b><br>

            {{ doc.customer_name }}<br>

            {% if doc.customer_address %}
            {% set customer_address = frappe.get_doc("Address", doc.customer_address) %}

            {{ customer_address.address_line1 }}<br>

            {% if customer_address.address_line2 %}
            {{ customer_address.address_line2 }}<br>
            {% endif %}

            {{ customer_address.city }}
            {{ customer_address.pincode }}<br>

            State Code :
            {{ customer_address.gst_state_number }}<br>
            Phone: {{ customer_address.phone }}<br>

            {% endif %}


            {% if doc.billing_address_gstin %}
            GST: {{ doc.billing_address_gstin }}
            {% endif %}

        </td>

        <td width="50%">
            Buyer's Purchase Enquiry No.<br>
            {{ doc.po_no or "" }}

            Enquiry Date :
            {{ frappe.utils.formatdate(doc.po_date) }}<br>

            <div style="border-top:1px solid #000; margin-top:0px; padding-top:0px;">
                <b>{{ doc.tc_name }}</b>
            </div>

            <div style="margin:0; padding:0; line-height:1;">
                {{ doc.terms }}
            </div>
        </td>

    </tr>

</table>

<!--  ITEMS  -->

<table class="border items">

    <tr>
        <th width="1%" style="text-align:center; color:#000;">S.No.</th>

        <th width="43%" style="text-align:center; color:#000;">
            <b>Description</b>
        </th>

        <th width="12%" style="text-align:center; color:#000;">
            <b>Delivery</b>
        </th>

        <th width="10%" style="text-align:center; color:#000;">
            <b>Unit</b>
        </th>

        <th width="8%" style="text-align:center; color:#000;">
            <b>Qty</b>
        </th>

        <th width="13%" style="text-align:center; color:#000;">
            <b>Price</b>
        </th>

        <th width="15%" style="text-align:center; color:#000;">
            <b>Amount</b>
        </th>
    </tr>

    {% for item in doc.items %}

    <tr>

        <td class="center">
            {{ loop.index }}
        </td>

        <td>

            {{ item.item_name }}

            {% if item.gst_hsn_code %}
            <br>
            HSN : {{ item.gst_hsn_code }}
            {% endif %}

        </td>

        <td class="center" style="white-space: nowrap;">
            {{ item.custom_delivery_date_range or "-" }}
        </td>

        <td class="center">
            {{ item.uom }}
        </td>

        <td class="center">
            <!-- {{ item.qty|int if item.qty == item.qty|int else item.qty }}
               -->
            {{ "{:g}".format(item.qty) }}
        </td>

        <td class="right">
            {{ frappe.utils.fmt_money(item.rate) }}
        </td>

        <td class="right">
            {{ frappe.utils.fmt_money(item.amount) }}
        </td>

    </tr>

    {% endfor %}

    <tr>
        <td colspan="7"></td>
    </tr>

    <!-- Sub Total and total qty -->
    <tr>

        <td colspan="4" class="right bold">
            Total
        </td>

        <td class="center bold">

            {{ "{:g}".format(doc.total_qty) }}

        </td>

        <td> <b>Sub Total</b> </td>

        <td class="right bold" style="white-space: nowrap;">

            {{ frappe.utils.fmt_money(doc.net_total, currency=doc.currency)}}
        </td>

    </tr>

    <!-- Taxes -->
    {% if doc.taxes %}

    {% for tax in doc.taxes %}
    <tr>
        <td colspan="6" class="right">
            {{ tax.description or tax.account_head }}
            ({{ "{:g}".format(tax.rate) }}%)</td>
        <td class="right" style="white-space: nowrap;">
            {{ frappe.utils.fmt_money(tax.tax_amount, currency=doc.currency) }}
        </td>
    </tr>
    {% endfor %}

    {% endif %}

    <!-- Discount -->
    {% if doc.discount_amount %}
    <tr>
        <td colspan="6" class="right">
            Discount
            {% if doc.additional_discount_percentage %}
            ({{ doc.additional_discount_percentage }}%)
            {% endif %}
        </td>
        <td class="right">
            -{{ frappe.utils.fmt_money(doc.discount_amount, currency=doc.currency) }}
        </td>
    </tr>
    {% endif %}

    <!-- Grand total -->
    <tr>
        <td colspan="6" class="right">
            <b>Grand Total</b>
            <br>
            <span style="font-size: 10px; font-weight: normal;">
                {{ doc.in_words }}
            </span>
        </td>
        <td class="right">
            <b>{{ frappe.utils.fmt_money(doc.grand_total, currency=doc.currency) }}</b>
        </td>
    </tr>

</table>

<!-- FOOTER -->
{% set declaration = frappe.get_doc("Terms and Conditions", "Declaration") %}

<table class="border">

    <tr>

        <td width="60%">

            <div class="center">

                <b>Declaration</b>

                <br><br>
                {{ declaration.terms }}
            </div>

        </td>

        <td width="40%">

            <b>Signature & Date</b>
            {% if company.company_logo %}
            <img src="{{ company.company_logo }}" style="height:50px;">
            {% endif %}

            <div class="center">
                <br><br>

                <b>AUTHORISED SIGNATORY</b>

            </div>

        </td>

    </tr>

</table>